body {
  font-family: "Yeon Sung", "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* overflow: hidden; */
  /* ~> background: url(sources/CuteClean.png) center 50% no-repeat fixed; */
  background: url(../sources/CuteClean.png) center 10% no-repeat;
  /* background-repeat: no-repeat; */
  background-size: 23em;
  background-color: #ffe4c7;
  font-weight: lighter;
}

#contactBtn {
  font-family: 'Pacifico', cursive;
  font-size: 0.9em;
  color: #000;
  text-decoration: none;
}

#contactBtn::selection {
  background: #000;
  color: #ffe4c7;

}

#contactBtn::-moz-selection {
  background: #000;
  color: #ffe4c7;
}

#contactIcon {
  font-size: 1.2em;
  margin: 0.2em;
}

.contact {
  color: #000;
  position: absolute;
  /* bottom: 0.5%; */
  width: 100%;
  line-height: 1.5;
  text-align: center;
  left: 0;
  font-size: 0.9em;
  margin-top: 6.8em;
}

.btn-sns {
  color: #000;
  border: 1px solid #000;
  outline: none;
  background: none;
  border-radius: 0;
  font-size: 1.7em;
  line-height: 1.7em;
  text-decoration: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.btn-sns:hover,
.btn-sns:focus, 
.btn-sns:active {
  color: #000;
  border: 1px solid #000;
  outline: none;
  background: none;
  border-radius: 0;
  text-decoration: none;
}

.sns-container {
  vertical-align: middle;
  margin-top: 28em;
  text-align: center;
  display: inline-block;
  width: 100%;
}

#twitchIcon,
#twitterIcon,
#instaIcon,
#discordIcon,
#ytIcon {
  color: #000;
}

#twitchBtn:hover {
  background-color: #9146ff;
}

#twitterBtn:hover {
  background-color: #1da1f2;
}

#instaBtn:hover {
  background-color: #fcaf45;
}

#discordBtn:hover {
  background-color: #7289da;
}

#ytBtn:hover {
  background-color: #ff0000;
}

.animate-1 {
  --animate-delay: 0.1s;
}

.animate-2 {
  --animate-delay: 0.2s;
}

.animate-3 {
  --animate-delay: 0.3s;
}

.animate-4 {
  --animate-delay: 0.4s;
}

.animate-5 {
  --animate-delay: 10s;
}
:root {
  --animate-delay: 0.1s;
}